<main class="profile-page">
  <section class="section">
    <div class="container">
      <div class="card card-profile background-gray">
        <div class="px-2">
          <div class="row justify-content-center">
            <div class="col-lg-12">

              <div class="card-profile-image">
                <img [src]="user.profileImageUrl" class="rounded-circle" />
              </div>

              <div class="unlock" *ngIf="!isUnlocked" (click)="open(classic3,'','')">
                <div class="btn btn-neutral">
                  <span class="btn-inner--icon">
                    <i class="fa fa-lock"></i>
                  </span>
                  <span class="nav-link-inner--text d-none d-md-inline-block">&nbsp;Unlock</span>
                </div>
              </div>

            </div>

          </div>

          <div class=" col-lg-12 text-center" style="margin-top:125px">
            <h3>{{user.firstName}} {{user.lastName}}, {{user.age}}yrs</h3>

          </div>
          <div class="row">
            <div class="col-12">
              <div class="user-info-label">
                <h5>Expectations:</h5>
              </div>
              <div class="user-info">
                <div class="row">
                  {{user.expectations || "No Expectations"}}
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="user-info-label">
                <h5>Personal Details:</h5>
              </div>
              <div class="user-info">
                <div class="row">

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Status: </span>{{user.maritalStatus}}
                  </div>

                  <!-- <div class="col-lg-3 col-12">
                    <span class="info-label"> Blood Grp: </span>{{user.userMedicalDetails.bloodGroup}}
                  </div> -->

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Height: </span>{{user.heightInCms}} Cms
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Weight: </span>{{user.weightInKgs}} Kgs
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Complexion: </span>{{user.complexion}}
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Contact: </span> {{user.contact}}
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Current City: </span> {{user.currentCity}}
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Home City: </span> {{user.permanentCity}}
                  </div>

                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="user-info-label">
                <h5>Profession & Education:</h5>
              </div>
              <div class="user-info">
                <div class="row">

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Salary: </span> {{user.monthlyIncome}} <i class="fas fa-rupee-sign"></i>/
                    month
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Job Type: </span> {{user.jobType}}
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Job Role: </span> {{user.jobRole}}
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Job City: </span> {{user.jobLocation}}
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Qualification: </span> {{user.qualification}}
                  </div>

                  <div class="col-lg-3 col-12">
                    <span class="info-label"> Institute: </span> {{user.institute}}
                  </div>

                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="user-info-label">
                <h5>Relations:</h5>
              </div>
              <div class="user-info">
                <div class="row">

                  <div class="col-lg-6 col-12">
                    <span class="info-label"> Total Siblings: </span> {{countOfSiblings}}
                  </div>
                  <div class="col-lg-6 col-12">
                    <span class="info-label"> Family Type: </span> {{user.familyType}}
                  </div>

                  <div class="col-lg-12 col-12" *ngFor="let r of user.familyDetails">
                    {{r.relation}} <span *ngIf="r.isMarried"> Married </span>: {{r.title}} {{r.firstName}}
                    {{r.lastName}} ({{r.profession}})
                  </div>

                </div>
              </div>

            </div>

            <div class="col-12">

              <div class="user-info-label">
                <h5>Images ({{user.countOfImages || 0}}): </h5>
              </div>

              <div class="user-info" *ngIf="isUnlocked">
                <div class="row justify-content-center">
                  <div class="image-container" *ngFor="let image of user.libraryImages">

                    <img [src]="image.imageUrl" />

                  </div>
                </div>
              </div>

              <div class="user-info" *ngIf="!isUnlocked">

                <div class="locked-images flex">

                  <div><i class="fa fa-lock"></i> Unlock user to see all images</div>

                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<ngx-spinner bdOpacity=0.2 bdColor="#333" size="large" color="#fff" type="ball-fussion" [fullScreen]="true"
  name="loading">
  <p style="color: white"> Loading... </p>
</ngx-spinner>


<ng-template #classic3 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default"> Confirm Unlock?</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <h4>To unlock this user, 100 credits will be consumed. Do you want to continue?</h4>

      <div class="flex">
        <div class="btn btn-neutral" (click)="unlockUser()"> Yes</div>
        <div class="btn btn-neutral" (click)="d('Cross click')"> No</div>
      </div>

    </div>
    <!-- <div class="modal-footer">


    </div> -->
  </div>
</ng-template>
