@media(max-width: 767.98px) {
  .nav-pills:not(.nav-pills-circle) .nav-item {
    padding-right: 1rem !important;
  }
}

.profile-page .card-profile .card-profile-image img {
  height: 180px;
}

.profile-page .card-profile {
  margin-top: 100px;
}

.nav-item {
  padding-right: 1rem !important;
}

.background-gray{
  background: #fff
}

.user-info{
  padding-bottom: 10px;
  border: 2px solid #C40000;
  margin-bottom: 10px;
  box-shadow: 0px 5px 5px #8e8e8e;
}

.user-info .row{
  margin-top:25px;
  padding-left:10px;
}

.info-label{
  font-weight: bold;
}

.user-info-label{
  transform: translateY(16px);
  background: #fff;
  width: fit-content;
  margin-left:10px;
}

.unlock{
  position: absolute;
  top:10px;
  right: 25px;
}


.unlock .btn{
  padding:10px !important;
}


.modal-body h4{
  color:#232323;
}
