<div class="justify-content-center">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-10">
            <div class="card mt-5 mb-5" *ngFor="let relation of relations">
                <div class="card-body">
                    <h1 class="display-4">
                        {{relation.title+" "+relation.firstName+" "+relation.middleName+" "+relation.lastName}}</h1>
                    <h6>Relation: {{relation.relation}}</h6>
                    <h6>Profession: {{relation.profession}}</h6>
                    <h6>Additonal Info: {{relation.additionalDescription}}</h6>
                    <div class="text-center">
                        <button type="button" class="btn btn-danger" (click)="removeRelation(relation)">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="border:solid black 1px; margin-top: 10px;">
        <div class="row justify-content-center mt-5 mr-1 ml-1">
            <div class="col-lg-2 col-md-4">
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <select class="browser-default custom-select" [(ngModel)]="title">
                        <option selected value="TITLE_SELECTED">Select Title</option>
                        <option value="Mr.">Mr.</option>
                        <option value="Mrs.">Mrs.</option>
                        <option value="Dr.">Dr.</option>
                        <option value="Miss">Miss.</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-sign-in"></i></span>
                        </div>
                        <input class="form-control" [(ngModel)]="firstName" name="firstName" placeholder="First Name"
                            type="text" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-sign-in"></i></span>
                        </div>
                        <input class="form-control" [(ngModel)]="middleName" name="middleName" placeholder="Middle Name"
                            type="text" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-8">
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-sign-in"></i></span>
                        </div>
                        <input class="form-control" [(ngModel)]="lastName" name="lastName" placeholder="Last Name"
                            type="text" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mr-1 ml-1">
            <div class="col-lg-4 col-md-8">
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <select class="browser-default custom-select" [(ngModel)]="relation">
                        <option selected value="RELATION_SELECTED">Select Relation</option>
                        <option value="RELATION_FATHER">Father</option>
                        <option value="RELATION_MOTHER">Mother</option>
                        <option value="RELATION_SIBLING">Sibling</option>
                        <option value="RELATION_MATERNAL">Maternal</option>
                        <option value="RELATION_PATERNAL">Paternal</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-5" [hidden]="relation!='RELATION_SIBLING'">

                <div class="custom-control custom-radio mb-3">
                    <input name="married-radio" class="custom-control-input" id="married-radio-1" type="radio"
                        [(ngModel)]="isMarried" value="true">
                    <label class="custom-control-label" for="married-radio-1">
                        <span>Married</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-5" [hidden]="relation!='RELATION_SIBLING'">
                <div class="custom-control custom-radio mb-3">
                    <input name="married-radio" class="custom-control-input" id="married-radio-2" checked type="radio"
                        [(ngModel)]="isMarried" value="false">
                    <label class="custom-control-label" for="married-radio-2">
                        <span>UnMarried</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mr-1 ml-1">
            <div class="col-lg-4 col-md-8">
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <select class="browser-default custom-select" [(ngModel)]="profession">
                        <option selected value="JOB_TYPE_SELECTED">Select Job Type</option>
                        <option value="JOB_TYPE_SALARIED">Salaried</option>
                        <option value="JOB_TYPE_BUSINESS">Business</option>
                        <option value="JOB_TYPE_PROFESSIONAL">Professional</option>
                        <option value="JOB_TYPE_RETIRED">Retired</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-sign-in"></i></span>
                        </div>
                        <input class="form-control" [(ngModel)]="additionalDescription" name="additionalDescription"
                            placeholder="Additonal Desc" type="text" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                </div>
            </div>


        </div>
        <div class="row justify-content-center mr-1 ml-1">
            <div class="text-center col-lg-3 col-md-4 col-8">
                <button type="button" class="btn btn-primary my-4" (click)="addRelation()">Add Relation</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="text-center col-sm-6 col-lg-4">
            <button type="button" class="btn btn-primary my-4" (click)="saveAndNext()">Save and Next</button>
        </div>
        <div class="text-center col-4">
            <button type="button" class="btn btn-primary my-4" (click)="skipAndNext()">Skip and Next</button>
        </div>
    </div>


</div>


<ngb-alert [dismissible]="true" [type]="alertType" class="alert" *ngIf="!staticAlertClosed"
    (close)="staticAlertClosed = true">{{alertMessage}}</ngb-alert>