<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">

    <!-- <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
   
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-12">

              <div class="card-profile-image">

                <img [src]="croppedImage" class="rounded-circle" [hidden]="userImagePresent=='false'"
                  (click)="open(classic3,'','')" />
                <img [src]="profileImageUrl" class="rounded-circle" [hidden]="userImagePresent=='true'"
                  (click)="open(classic3,'','')" />
              </div>

            </div>

          </div>
          <div class="col-lg-12"></div>
          <div class=" col-lg-12 text-center" style="margin-top:125px">
            <h3>{{firstName}}, {{lastName}}</h3>

          </div>

          <div class="col-lg-12 order-lg-1">
            <ngb-tabset [justify]="'center'" #t="ngbTabset" class="custom-tab-content flex-column flex-md-row"
              type="pills">
              <ngb-tab id="basic">
                <ng-template ngbTabTitle>
                  Basic
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="card-body px-lg-5 py-lg-5">
                    <app-basic-form (changeTabEvent)="t.select('personal')"></app-basic-form>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="personal">
                <ng-template ngbTabTitle>
                  Personal
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="card-body px-lg-5 py-lg-5">
                    <app-personal-form (changeTabEvent)="t.select('educational')"></app-personal-form>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="educational">
                <ng-template ngbTabTitle>
                  Educational
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="card-body px-lg-5 py-lg-5">
                    <app-educational-form (changeTabEvent)="t.select('professional')"></app-educational-form>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab id="professional">
                <ng-template ngbTabTitle>
                  Professional
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="card-body px-lg-5 py-lg-5">
                    <app-professional-form (changeTabEvent)="t.select('family')"></app-professional-form>
                  </div>
                </ng-template>
              </ngb-tab>

              <ngb-tab id="family">
                <ng-template ngbTabTitle>
                  Family
                </ng-template>
                <ng-template ngbTabContent>
                  <!-- <div class="card-body px-lg-5 py-lg-5"> -->
                  <app-family-form (changeTabEvent)="t.select('medical')"></app-family-form>
                  <!-- </div> -->
                </ng-template>
              </ngb-tab>

              <ngb-tab id="medical">
                <ng-template ngbTabTitle>
                  Medical
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="card-body px-lg-5 py-lg-5">
                    <app-medical-form (changeTabEvent)="t.select('additional')"></app-medical-form>
                  </div>
                </ng-template>
              </ngb-tab>

              <ngb-tab id="additional">
                <ng-template ngbTabTitle>
                  Additional
                </ng-template>
                <ng-template ngbTabContent>
                  <div class="card-body px-lg-5 py-lg-5">
                    <app-additional-form></app-additional-form>
                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<ngx-spinner bdOpacity=0.2 bdColor="#333" size="large" color="#fff" type="ball-fussion" [fullScreen]="true"
  name="loading">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<ngx-spinner bdOpacity=0.2 bdColor="#333" size="medium" color="#fff" type="square-loader" [fullScreen]="true"
  name="saving">
  <p style="color: white"> Saving... </p>
</ngx-spinner>

<ng-template #classic3 let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">Upload Image</h6>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- <input type="file" (change)="fileChangeEvent($event)" [(ngModel)]="profileImage" /> -->

      <button (click)="uploadAndCompress()">Load Image</button>

      <image-cropper #imgCropper [imageBase64]="imageBase64" [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true" [aspectRatio]="1 / 1" [containWithinAspectRatio]="true" [cropperMinWidth]="180"
        format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
      <!-- <div class="form-group">
          <button class="btn btn-primary"  data-dismiss="modal" (click)="c('Close click')">Crop</button>
          <button class="btn btn-primary" (click)="rotate()">Rotate</button>
      </div> -->


    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="c('Close click')">Crop</button> -->
      <button type="button" class="btn btn-primary" data-dismiss="modal"
        (click)="uploadImage();c('Close click')">Upload</button>

      <!-- <button type="button" class="btn btn-primary">Crop</button> -->

    </div>
  </div>
</ng-template>