.add-new-image{
  height: 300px;
    width: 300px;
    background-color: #eeeeee;
    border: 2px dashed #888;
    font-size: 50px;
    color: #888;
    margin: 10px;
}

.pointer{
  cursor: pointer;
}

.image-container img{
  height: 300px;
  width: 300px;
}

.image-container{
  margin: 10px;
  position: relative;
}

.actions{
  position: absolute;
  font-size: 20px;
  top:10px;
  right:10px;
  color: #eee;
  mix-blend-mode: difference;
}
