rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{document=**}{
    allow read: if request.auth!=null
    allow create: if true
    allow update: if request.auth!=null && request.auth.uid == resource.data.uid
    }

    match /usersPrivate/{document=**} {
    	allow read: if request.auth !=null && request.auth.uid == resource.data.uid
      allow create: if true
      allow update: if
      request.auth !=null
      && request.auth.uid == resource.data.uid
      && ( resource.data.credits > 0  || !request.resource.data.keys().hasAll(["unlockedUsers"])  ||  resource.data.unlockedUsers == request.resource.data.unlockedUsers)
    }

    match /usersSharedPrivate/{document=**} {
    	allow read : if request.auth !=null
      && (resource.data.uid in get(/databases/$(database)/documents/usersPrivate/$(request.auth.uid)).data.unlockedUsers)
      allow create: if true
      allow update: if request.auth !=null && request.auth.uid == resource.data.uid
    }

  }
}
