<div class="justify-content-center">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-5">

            <div class="custom-control custom-radio mb-3">
                <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio"
                    [(ngModel)]="gender" value="GENDER_MALE">
                <label class="custom-control-label" for="customRadio1">
                    <span>Male</span>
                </label>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-5">
            <div class="custom-control custom-radio mb-3">
                <input name="custom-radio-1" class="custom-control-input" id="customRadio2" checked type="radio"
                    [(ngModel)]="gender" value="GENDER_FEMALE">
                <label class="custom-control-label" for="customRadio2">
                    <span>Female</span>
                </label>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input class="form-control datepicker" placeholder="Date of Birth" name="dp" [(ngModel)]="dob"
                        ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" type="text" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-sign-in"></i></span>
                    </div>
                    <input class="form-control" [(ngModel)]="placeOfBirth" name="placeOfBirth"
                        placeholder="Place of Birth" type="text" (focus)="focus1=true" (blur)="focus1=false">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4 col-md-8">
            <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" [(ngModel)]="heightInCms" name="heightInCms" placeholder="Height in Cms"
                        type="number" (focus)="focus=true" (blur)="focus=false">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" [(ngModel)]="weightInKgs" name="weightInKgs" placeholder="Weight in Kgs"
                        type="number" (focus)="focus=true" (blur)="focus=false">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <select class="browser-default custom-select" [(ngModel)]="complexion">
                    <option selected value="COMPLEXION_SELECTED">Select Complexion</option>
                    <option value="COMPLEXION_FAIR">Fair</option>
                    <option value="COMPLEXION_FAIR">Dark</option>
                    <option value="COMPLEXION_WHEATISH">Wheatish</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-8">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <select class="browser-default custom-select" [(ngModel)]="maritalStatus">
                    <option selected value="MARITAL_STATUS_SELECTED">Marital Status</option>
                    <option value="MARITAL_STATUS_SINGLE">Single</option>
                    <option value="MARITAL_STATUS_MARRIED">Married</option>
                    <option value="MARITAL_STATUS_DIVORCED">Divorced</option>
                    <option value="MARITAL_STATUS_WIDOWED">Widowed</option>
                </select>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <select class="browser-default custom-select" [(ngModel)]="familyType">
                    <option selected value="FAMILY_TYPE_SELECTED">Family Type</option>
                    <option value="FAMILY_TYPE_NUCLEAR">Nuclear</option>
                    <option value="FAMILY_TYPE_JOINT">Joint</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="text-center col-sm-6 col-lg-4">
            <button type="button" class="btn btn-primary my-4" (click)="saveAndNext()">Save and Next</button>
        </div>
        <div class="text-center col-4">
            <button type="button" class="btn btn-primary my-4" (click)="skipAndNext()">Skip and Next</button>
        </div>
    </div>


</div>


<ngb-alert [dismissible]="true" [type]="alertType" class="alert" *ngIf="!staticAlertClosed"
    (close)="staticAlertClosed = true">{{alertMessage}}</ngb-alert>

