<div class="justify-content-center">
  <div class="row">
    <div class="col-lg-4 col-md-8">
      <div class="form-group">
        <label> Date of Birth:</label>
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <input disabled class="form-control datepicker" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
            [(ngModel)]="dob">
          <owl-date-time [pickerType]="'both'" #dt1></owl-date-time>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-8">
      <div class="form-group">
        <label for="placeOfBirth"> Place of Birth:</label>
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-city"></i></span>
          </div>
          <input class="form-control" [(ngModel)]="user.placeOfBirth" name="placeOfBirth" placeholder="Place of Birth"
            type="text">
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-4 col-md-8">
      <div class="form-group mb-3">
        <label for="heightInCms"> Height (in cms):</label>
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-arrows-alt-v"></i></span>
          </div>
          <input class="form-control" [(ngModel)]="user.heightInCms" name="heightInCms" placeholder="Height in Cms"
            type="number">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-8">
      <div class="form-group mb-3">
        <label for="weightInKgs"> Weight (in Kgs):</label>
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-weight"></i></span>
          </div>
          <input class="form-control" [(ngModel)]="user.weightInKgs" name="weightInKgs" placeholder="Weight in Kgs"
            type="number">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-8">
      <div class="form-group">
        <label for="complexion"> Complextion </label>
        <select class="browser-default custom-select" [(ngModel)]="user.complexion">
          <option selected value="undefined">Select Complexion</option>
          <option value="FAIR">Fair</option>
          <option value="DARK">Dark</option>
          <option value="WHEATISH">Wheatish</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-8">
      <div class="form-group">
        <label for="maritalStatus"> Marital Status: </label>
        <select class="browser-default custom-select" [(ngModel)]="user.maritalStatus">
          <option selected value="undefined">Marital Status</option>
          <option value="SINGLE">Single</option>
          <option value="MARRIED">Married</option>
          <option value="DIVORCED">Divorced</option>
          <option value="WIDOWED">Widowed</option>
        </select>
      </div>
    </div>
    <div class="col-lg-4 col-md-8">
      <div class="form-group">
        <label for="familyType"> Family Type: </label>
        <select class="browser-default custom-select" [(ngModel)]="user.familyType">
          <option selected value="undefined">Family Type</option>
          <option value="NUCLEAR">Nuclear</option>
          <option value="JOINT">Joint</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="text-center col-sm-6 col-lg-4">
      <button type="button" class="btn btn-primary my-4" (click)="saveAndNext()">Save and Next</button>
    </div>
    <div class="text-center col-sm-6 col-lg-4">
      <button type="button" class="btn btn-primary my-4" (click)="skipAndNext()">Skip and Next</button>
    </div>
  </div>


</div>


<!-- <ngb-alert [dismissible]="true" [type]="alertType" class="alert" *ngIf="!staticAlertClosed"
    (close)="staticAlertClosed = true">{{alertMessage}}</ngb-alert> -->
