<div class="justify-content-center">
    <div class="row">
        <div class="col-lg-4 col-md-8">
            <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text">F</span>
                    </div>
                    <input class="form-control" [(ngModel)]="firstName" name="firstName" placeholder="First Name"
                        type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text">M</span>
                    </div>
                    <input class="form-control" [(ngModel)]="middleName" name="middleName" placeholder="Middle Name"
                        type="text" (focus)="focus1=true" (blur)="focus1=false">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text">L</span>
                    </div>
                    <input class="form-control" [(ngModel)]="lastName" name="lastName" placeholder="Last Name"
                        type="text" (focus)="focus1=true" (blur)="focus1=false">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-8">
            <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                    </div>
                    <input class="form-control" [(ngModel)]="contact" name="contact" placeholder="Contact"
                        type="number" (focus)="focus=true" (blur)="focus=false">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-8">
            <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input class="form-control" [(ngModel)]="email" name="email" placeholder="Email"
                        type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="text-center col-sm-6 col-lg-4">
            <button type="button" class="btn btn-primary my-4" (click)="saveAndNext()">Save and Next</button>
        </div>
        <div class="text-center col-sm-6 col-lg-4">
            <button type="button" class="btn btn-primary my-4" (click)="skipAndNext()">Skip and Next</button>
        </div>
    </div>

</div>
