<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">


      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-12 col-md-6">

            <h1 style="text-transform: capitalize; font-weight: bold;"> 
              Your own lingayat matrimony
            </h1>

            <!-- <p class="h1 text-center" >
               </p> -->

            <p class="lead">
              Welcomes all lingayat to come and join
            </p>

            <div [hidden]="isLoggedIn" style="display: flex; justify-content: space-between;">
              <a [routerLink]="['/login']" class="btn btn-neutral btn-icon animate-btn">
                <span class="btn-inner--icon">
                  <i class="fa fa-sign-in mr-2"></i>
                </span>
                <span class="nav-link-inner--text"> Login</span>
              </a>
              <a [routerLink]="['/signup']" class="btn btn-neutral btn-icon animate-btn">
                <span class="btn-inner--icon">
                  <i class="fa fa-sign-in mr-2"></i>
                </span>
                <span class="nav-link-inner--text"> Register</span>
              </a>
            </div>

          </div>

          <div class="col-12 col-md-6">

            <img  class="hero-img" src="./assets/img/background/couple.jpg">

            <!-- <app-signup></app-signup> -->
          </div>
        </div>
      </div>

    </section>
  </div>
</main>