.hero-img{
    margin-bottom: 20px;
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    /* width: 100%; */
    margin-top:20px;
}

.animate-btn:hover span i{
    color: #08f;
    transform: translateX(5px);
    transition: all 0.2s ease-in  !important;
}

.animate-btn{
    color: #08f;
    border: 2px solid;
}

.section-counter{
    background: #efefef;
    height: fit-content;
    padding: 0;
}
.section{
  padding-bottom: 25px !important;
}

.section-hero{
    /* padding: 0; */
    /* min-height: calc(100vh - 85px); */
    /* height: calc(100vh - 85px); */

    /* height: 100vh;
    min-height: 100vh; */

}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 100%;
    border: 3px solid #08f;
}

.counter h1{
    color: #08f !important;
    font-weight: bold;
}

.counter-container{
    flex-direction: column;
    margin-bottom: 10px;
}

.counter-text{
    color: #08f;
    font-size:1.5rem;
}

.btn-find-my-match{
  display: flex;
}

@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
    }
    .lead{
        text-align: center;
    }
    .btn-find-my-match{
      display: flex;
      justify-content: center;
    }
}
