<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">


      <div class="container d-flex align-items-center">
        <div class="row">
          <div class="col-12 col-md-6">
            <p class="h1 text-center" style="text-transform: uppercase; letter-spacing: 5px; font-weight: bold;">
              VeerShaiv Lingayat Thane </p>

            <p class="lead text-center">
              Welcomes all lingayat to come and join
            </p>
          </div>

          <div class="col-12 col-md-6">
            <app-signup></app-signup>
          </div>
        </div>
      </div>


      <!-- <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
              <p class="h1" style="text-transform: uppercase; letter-spacing: 5px; font-weight: bold;">
                VeerShaiv Lingayat Thane </p>
              <p class="lead">
                Welcomes all lingayat to come and join
              </p>
            </div>
            <div [hidden]="isLoggedIn">
              <a [routerLink]="['/login']" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fa fa-sign-in mr-2"></i>
                </span>
                <span class="nav-link-inner--text"> Login</span>
              </a>
              <a [routerLink]="['/signup']" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fa fa-sign-in mr-2"></i>
                </span>
                <span class="nav-link-inner--text"> Register</span>
              </a>
            </div> 


  </div>
  </div>
  </div>-->

    </section>
  </div>
</main>