<div class="col" style="margin-top: 1rem; padding:1rem; border: 1px solid gray;" >
<form>
    <div class="form-group">
        <mat-form-field >
            <mat-label>Email</mat-label>
            <input class="form-control" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                   placeholder="Ex. pat@example.com" type="email">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>