

<input type="file" (change)="fileChangeEvent($event)" />

<image-cropper [hidden]="!showCropper" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" format="png"
    (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"></image-cropper>
<div class="form-group">
    <button class="btn btn-primary" (click)="crop()">Crop</button>
</div>

<div class="card-profile-image">

    <img [src]="croppedImage" class="rounded-circle" />
</div>