<main class="profile-page" style="min-height: 100vh;">

    <section class="section">
        <div class="container" style="max-width: 100%; margin:1px; padding:1px">

            <div class="row">
                <div class=" col-lg-3 d-lg-block nomt--300 pl-1 pr-1" style="margin-top:15px">
                    <div class="h-100" style="margin-top:0px; background:none">

                        <div class="row" style="background:white; border-radius:5px">
                            <div class="col-12 nomt--300 pt-2 pb-2 d-block d-lg-none" data-toggle="collapse"
                                data-target="#filter_box" data-abc="true" aria-expanded="false">
                                <h5 class="d-inline" class="collapsed">
                                    Filters
                                    <i class="icon-control fa fa-chevron-down"></i>
                                </h5>
                            </div>
                            <div class="col-md-12 d-none d-lg-block filter-header pt-2 pb-2">
                                <h5 class="d-inline">
                                    Filters
                                </h5>
                                <span class="float-right clear-filter" style="cursor: pointer;"
                                    (click)="clearFilters()">
                                    clear filters
                                </span>
                            </div>
                            <div class="col-md-12 d-lg-block filter-body pt-2 pb-2 collapse " id="filter_box">
                                <article class="filter-group">
                                    <header>

                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="nameFilter" type="checkbox"
                                                [(ngModel)]="nameFilter">
                                            <label class="custom-control-label" for="nameFilter">

                                                <h6 class="title">Filter by Name
                                                </h6>
                                            </label>
                                        </div>
                                        <div [hidden]="!nameFilter">
                                            <div class="form-group mb-3" [ngClass]="{'focused':focus_fn===true}">
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fa fa-address-book"></i></span>
                                                    </div>
                                                    <input class="form-control" [(ngModel)]="firstName" name="firstName"
                                                        placeholder="First Name" type="text" (focus)="focus_fn=true"
                                                        (blur)="focus_fn=false">
                                                </div>
                                            </div>
                                            <div class="form-group mb-3" [ngClass]="{'focused':focus_ln===true}">
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i
                                                                class="fa fa-address-book"></i></span>
                                                    </div>
                                                    <input class="form-control" [(ngModel)]="lastName" name="lastName"
                                                        placeholder="Last Name" type="text" (focus)="focus_ln=true"
                                                        (blur)="focus_ln=false">
                                                </div>
                                            </div>
                                        </div>

                                    </header>
                                </article>
                                <article class="filter-group">
                                    <header>

                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="heightFilter" type="checkbox"
                                                [(ngModel)]="heightFilter">
                                            <label class="custom-control-label" for="heightFilter">

                                                <h6 class="title">Height (cms)
                                                </h6>
                                            </label>
                                        </div>
                                        <div class="custom-slider" [hidden]="!heightFilter">
                                            <ng5-slider [formControl]="heightControl" [options]="heightOptions">
                                            </ng5-slider>
                                        </div>

                                    </header>
                                </article>
                                <article class="filter-group">
                                    <header>

                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="ageFilter" type="checkbox"
                                                [(ngModel)]="ageFilter">
                                            <label class="custom-control-label" for="ageFilter">

                                                <h6 class="title">Age (years)
                                                </h6>
                                            </label>
                                        </div>
                                        <div class="custom-slider" [hidden]="!ageFilter">
                                            <ng5-slider [formControl]="ageFilterControl" [options]="ageFilterOptions">
                                            </ng5-slider>
                                        </div>

                                    </header>
                                </article>
                                <article class="filter-group">
                                    <header>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="salaryFilter" type="checkbox"
                                                [(ngModel)]="salaryFilter">
                                            <label class="custom-control-label" for="salaryFilter">

                                                <h6 class="title">Monthly Salary (Rs)
                                                </h6>
                                            </label>
                                        </div>
                                        <div [hidden]="!salaryFilter">
                                            <div class="form-group mb-3" [ngClass]="{'focused':focus_salary===true}">
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-inr"></i></span>
                                                    </div>
                                                    <input class="form-control" [(ngModel)]="minSalary" name="minSalary"
                                                        placeholder="Minimum Salary" type="number"
                                                        (focus)="focus_salary=true" (blur)="focus_salary=false">
                                                </div>
                                            </div>
                                        </div>

                                    </header>
                                </article>
                                <article class="filter-group">
                                    <header>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="qualificationFilter" type="checkbox"
                                                [(ngModel)]="qualificationFilter">
                                            <label class="custom-control-label" for="qualificationFilter">

                                                <h6 class="title">Qualification <span class="d-none d-lg-block">(Ctrl +
                                                        click for multi select)</span>
                                                </h6>
                                            </label>
                                        </div>
                                        <div [hidden]="!qualificationFilter">
                                            <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                                <select class="browser-default custom-select"
                                                    [(ngModel)]="qualificationArray" multiple>
                                                    <ng-container *ngFor="let qualification of qualificationMap">
                                                        <option value="{{qualification.key}}">{{qualification.value}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>

                                    </header>
                                </article>
                                <article class="filter-group">
                                    <header>
                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="jobTypeFilter" type="checkbox"
                                                [(ngModel)]="jobTypeFilter">
                                            <label class="custom-control-label" for="jobTypeFilter">

                                                <h6 class="title">Job Type</h6>
                                            </label>
                                        </div>
                                        <div [hidden]="!jobTypeFilter">
                                            <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                                                <select class="browser-default custom-select" [(ngModel)]="jobTypeArray"
                                                    multiple>
                                                    <ng-container *ngFor="let jobType of jobTypeMap">
                                                        <option value="{{jobType.key}}">{{jobType.value}}
                                                        </option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>

                                    </header>
                                </article>
                                <article class="filter-group">
                                    <header>

                                        <div class="custom-control custom-checkbox mb-3">
                                            <input class="custom-control-input" id="cityFilter" type="checkbox"
                                                [(ngModel)]="cityFilter">
                                            <label class="custom-control-label" for="cityFilter">

                                                <h6 class="title">Filter by City Name or PIN
                                                </h6>
                                            </label>
                                        </div>
                                        <div [hidden]="!cityFilter">
                                            <div class="form-group mb-3" [ngClass]="{'focused':focus_city===true}">
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="fa fa-city"></i></span>
                                                    </div>
                                                    <input class="form-control" [(ngModel)]="cityNameOrPin"
                                                        name="cityNameOrPin" placeholder="City Name or PIN Code"
                                                        type="text" (focus)="focus_city=true" (blur)="focus_city=false">
                                                </div>
                                            </div>
                                        </div>

                                    </header>
                                </article>
                                <div class="text-center col-sm-6 col-lg-12">
                                    <button type="button" class="btn btn-primary my-4" (click)="applyFilter()">Apply
                                        Filter</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9" style="margin-top:15px; padding:0px" [hidden]="allusers.length !=0">
                    <div class=" card row  card-profile  shadow nomt--300"
                        style="padding:10px; padding-top:0px; margin-top:0px; flex-direction: row; height:400px">

                        <h1> <i class="fa fa-meh-o" aria-hidden="true"></i> No Users found.. Try adjusting filters</h1>
                    </div>
                </div>
                <div class="col-lg-9" style="margin-top:15px; padding:0px; " [hidden]="allusers.length ==0">
                    <div class="row nomt--300 padding-sm-zero padding-md"
                        style="margin-top:0px; flex-direction: row ; background: none;">
                        <ng-container *ngFor="let user of allusers">
                            <div class="col-md-4 padding-sm-zero" style="margin-bottom:15px; padding:0px; padding-left:10px; padding-right:10px ">
                                <div class="box-shadow shadow " style="margin-left:5px; margin-right:5px">
                                    <div class="row user-card" style="padding:10px; margin-right:0px; margin-left:0px">

                                        <div class="col-4 col-md-12 d-flex justify-content-center" style="padding:2px">
                                           
                                                <img class="img img-thumbnail rounded rounded-circle search-view-image"
                                                    [src]="user.userImages.imageUrl"/>
                                            
                                        </div>
                                        <div class="col-8 col-md-12" style="padding:2px">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5 class="text-truncate">{{user.lastName}}
                                                        {{user.firstName}}
                                                        {{user.middleName}}
                                                    </h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 text pr-0">
                                                    <span class="d-none d-md-inline">Height:</span>
                                                    {{user.userPersonalDetails?.heightInCms}}
                                                    cms
                                                </div>
                                                <div class="col-6 text">
                                                    <span class="d-none d-md-inline">Weight:</span>
                                                    {{user.userPersonalDetails?.weightInKgs}}
                                                    kgs
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6 text">
                                                    {{user.userPersonalDetails?.maritalStatus}}
                                                </div>
                                                <div class="col-6 text pr-0">
                                                    Age:
                                                    {{user.age}}
                                                    yrs
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-truncate text pr-0" data-toggle="tooltip"
                                                    title="{{user.jobRole}}">
                                                    Job :
                                                    {{user.userProfessionalDetails?.jobRole}}
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-12 text-truncate text pr-0">
                                                    <span class="d-none d-md-inline">Qualification:
                                                    </span>
                                                    {{user.userEducationalDetails?.qualification}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-9 text pr-0">
                                                    Salary:
                                                    {{user.userProfessionalDetails?.monthlyIncome}}
                                                    Rs
                                                </div>
                                                <div class="col-3 p-0">
                                                    <i class="fa fa-eye mr-2 pointer float-right"
                                                        (click)="open(classic3,'',''); quickView(user)"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Quick View"></i>
                                                    <i class="fa fa-external-link mr-2 pointer float-right"
                                                        (click)="open(classic3,'',''); quickView(user)"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Visit Profile"></i>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </ng-container>


                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<ngx-spinner bdOpacity="0.2" bdColor="#333" size="large" color="#fff" type="ball-fussion" [fullScreen]="true"
    name="loading">
    <p style="color: white">
        Loading...
    </p>
</ngx-spinner>

<ng-template #classic3 let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">{{selectedUser.firstName}},{{selectedUser.lastName}}
                {{selectedUser.age}}</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">




        </div>
        <div class="modal-footer">


        </div>
    </div>
</ng-template>