<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
        <!-- Circles background -->
        <div class="shape shape-style-1 shape-primary alpha-4">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="section">
        <div class="container" style="max-width: 95%;">
            <div class="row">
                <div class=" col-md-2 d-none d-lg-block mt--300">
                    <div class="card shadow h-100"> </div>
                </div>

                <div class="card col-lg-10 card-profile  shadow mt--300">
                    <div class="row" style="padding:10px">
                        <div class="col-md-6" style="margin-bottom:15px; padding:0px">
                            <div class="box-shadow shadow">
                                <div class="row" style="padding:10px; margin-right:0px; margin-left:0px">
                                        <div class="col-4" style="padding:2px">
                                            <div class="card-img-left">
                                                <img class="img img-thumbnail rounded"
                                                    src="http://res.cloudinary.com/dz7rf4dd8/image/upload/v1583144531/n7rmhs4aitceeysxfslm.png">
                                            </div>
                                        </div>
                                        <div class="col-8" style="padding:2px">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h5 class="text-truncate">FirstName MiddleName LastName</h5>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    Gender: Male    
                                                </div>
                                                <div class="col-6">
                                                    Age:25
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>