h5 {
  font-size:1.3rem;
  line-height: inherit;
  margin-bottom: 0px;
  font-weight: bold;

}
.text {  font-size:0.75rem; white-space: nowrap;}
.search-view-image{
  max-width: 200px;
  max-height: 200px;
}

.padding-sm-zero{
  padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important
}

/* Small devices (landscape phones, 544px and up) */
@media screen and (min-width: 544px) {
    h5 {font-size:1.3rem ; margin-bottom: 0px;} /*1rem = 16px*/
    .text {  font-size:0.75rem; white-space: nowrap;}
    .search-view-image{
      max-width: 200px;
      max-height: 200px;
    }
    .padding-sm-zero{
      padding: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important
    }

  }

  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media screen and (min-width: 768px) {
    h5 {font-size:1.3rem;  margin-bottom: 0px;} /*1rem = 16px*/
    .text {  font-size:0.75rem; white-space: nowrap;}
    .search-view-image{
      max-width: 200px;
  max-height: 200px;
    }
    .padding-sm-zero{
      padding: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    h5 {font-size:1.3rem;  margin-bottom: 0px;} /*1rem = 16px*/
    .text {  font-size:0.75rem; white-space: nowrap;}
    .search-view-image{
      max-width: 200px;
      max-height: 200px;
    }
    .padding-md{
      padding:10px; padding-top:0px;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    h5 {font-size:1.5rem;  margin-bottom: 0px;} /*1rem = 16px*/
    .text {  font-size:0.9rem; white-space: nowrap;}
    .search-view-image{
      max-width: 200px;
      max-height: 200px;
    }
    .padding-md{
      padding:10px; padding-top:0px;
    }
  }

.filter-header{
  border-bottom: 1px dashed gray;
  margin-top:5px;
}

.filter-header h5{

  font-size: 1.15rem;
  line-height: 0;
  text-transform: uppercase;
}

.filter{
  padding: 5px;
}

.row{
  margin:1px;
}

.clear-filter{
  color:gray;
}

.icon-control {
  margin-top: 6px;
  float: right;
  font-size: 80%
}

.card{
  margin-top:15px
}

/* .profile-page{
  background: rgb(147,0,159);
background: linear-gradient(152deg, rgba(147,0,159,1) 14%, rgba(102,71,133,1) 47%, rgba(213,226,255,1) 100%);
} */

.custom-slider .ng5-slider .ng5-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-color: #333;
  z-index:2
}

.ng5-slider .ng5-slider-pointer:after {
  display: none;
}

.custom-slider .ng5-slider .ng5-slider-pointer.ng5-slider-active {
  background: white;

}

.pointer{
  cursor: pointer;
}

.user-card
{
  background: white !important;
  border-radius:2rem;
  border: 1.5px solid #CA0000;
}


.icon-div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    /* background-color: grey; */
    border-radius: 100%;
    color:#CA0000;
    /* padding: 5px; */
    margin-right: 5px;
    font-size:small

}

.ngx-pagination{
  padding: 0  !important;
}

.ngx-pagination .current
{
  background: #CA0000 !important;
}

.pagination-div{
  background:#fff;
}
