<ngx-headroom duration="1" easing="ease-in-out" disable="true">
  <!--
<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned"> -->


  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light">
    <div class="container">

      <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
        <!-- <img src="./assets/img/brand/argon-white.png"> -->
        <img src="./assets/img/brand/lingayat-logo.svg" />
        VEERSHAIV LINGAYAT
      </a>

      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">

        <div class="navbar-collapse-header">

          <div class="row">

            <div class="col-10 collapse-brand">
              <a [routerLink]="['/home']">
                <!-- <img src="./assets/img/brand/blue.png"> -->
                <img src="./assets/img/brand/lingayat-logo.svg" />
                VEERSHAIV LINGAYAT
              </a>
            </div>

            <div class="col-2 collapse-close">
              <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
                <span></span>
                <span></span>
              </button>
            </div>

          </div>
        </div>

        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown no-caret">
            <a [routerLink]="['/home']" class="nav-link">
              <i class="fa fa-home"></i>
              <span class="nav-link-inner--text">Home</span>
            </a>
          </li>
          <li class="nav-item dropdown no-caret" [hidden]="!isLoggedIn">
            <a [routerLink]="['/viewProfiles']" class="nav-link">
              <i class="fa fa-search"></i>
              <span class="nav-link-inner--text">Find Matches</span>
            </a>
          </li>
          <!-- <li class="nav-item dropdown no-caret" [hidden]="!isLoggedIn">
            <a [routerLink]="['/profile']" class="nav-link">
              <i class="fa fa-user"></i>
              <span class="nav-link-inner--text">My Profile</span>
            </a>
          </li> -->
          <li class="nav-item dropdown" [hidden]="!isLoggedIn">
            <a href="#" class="nav-link" data-toggle="dropdown" role="button">
              <!-- <i class="fa fa-cog"></i> -->
              <i class="fa fa-caret-down"></i>
              <span class="nav-link-inner--text">Manage </span>
            </a>
            <div class="dropdown-menu dropdown-menu-l">
              <div class="dropdown-menu-inner">
                <ul class="inner-nav-ul">

                  <li>
                    <a [routerLink]="['/payment']">
                      <i class="fa fa-coins mr-2"></i>
                      <span class="nav-link-inner--text">Credits: {{credits}}</span>
                    </a>

                  </li>

                  <li>
                    <a [routerLink]="['/favourites']">
                      <i class="fa fa-star mr-2"></i>
                      <span class="nav-link-inner--text">Selected</span>
                    </a>

                  </li>

                  <li>
                    <div class="media-body">
                      <a [routerLink]="['/profile']">
                        <i class="fa fa-user mr-2"></i>
                        <span class="nav-link-inner--text">My Profile</span>
                      </a>
                    </div>
                  </li>

                  <li *ngIf="isAdmin">
                    <div class="media-body">
                      <a [routerLink]="['/admin']">
                        <i class="fa fa-user mr-2"></i>
                        <span class="nav-link-inner--text">Admin</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>


        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item" [hidden]="!isLoggedIn" (click)="logout()">
            <a class="nav-link nav-link-icon">
              <span class="nav-link-inner--text d-lg-none">Logout</span>
            </a>
          </li>
          <li class="nav-item" [hidden]="isLoggedIn">
            <a class="nav-link nav-link-icon" [routerLink]="['/login']">
              <span class="nav-link-inner--text d-lg-none">Sign in / Sign up</span>
            </a>
          </li>
          <li [hidden]="isLoggedIn" class="nav-item d-none d-lg-block ml-lg-4">
            <a [routerLink]="['/login']" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <i class="fa fa-sign-in mr-2"></i>
              </span>
              <span class="nav-link-inner--text">Sign up / Login</span>
            </a>
          </li>
          <li [hidden]="!isLoggedIn" class="nav-item d-none d-lg-block ml-lg-4" (click)="logout()">
            <a class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <i class="fa fa-sign-out mr-2"></i>
              </span>
              <span class="nav-link-inner--text">Logout</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
    <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
    <div class="wave-container">

      <svg viewBox="0 0 500 150" preserveAspectRatio="none" shape-rendering="auto">
        <path d="M-5.36,103.13 C102.99,21.20 484.47,138.64 555.01,50.81 L500.00,0.00 L0.00,0.00 Z"
          style="stroke: none; fill: #CA0000;"></path>
      </svg>

    </div>

  </nav>

</ngx-headroom>


<ng-template #inCompleteUser let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <h6 class="modal-title" id="modal-title-default">We need few more details to continue</h6>
    </div>
    <div class="modal-body">

      <form role="form">
        <div class="form-group">
          <div class="row">
            <!-- Gender -->
            <div class="col-6">
              <div class="custom-control custom-radio mb-3">
                <input name="gender-radio-1" class="custom-control-input" id="customRadio2" checked type="radio"
                  [(ngModel)]="gender" value="FEMALE">
                <label class="custom-control-label" for="customRadio2">
                  <span>Female</span>
                </label>
              </div>
            </div>
            <div class="col-6">
              <div class="custom-control custom-radio mb-3">
                <input name="gender-radio-2" class="custom-control-input" id="customRadio1" type="radio"
                  [(ngModel)]="gender" value="MALE">
                <label class="custom-control-label" for="customRadio1">
                  <span>Male</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- FirstName -->
        <div class="form-group mb-3">
          <label for="firstName">First Name:</label>
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-address-book"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="firstName" name="firstName" placeholder="First Name" type="text">
          </div>
        </div>
        <!-- Middle Name -->
        <div class="form-group mb-3">
          <label for="middleName">Middle Name:</label>
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-address-book"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="middleName" name="middleName" placeholder="Middle Name"
              type="text">
          </div>
        </div>
        <!-- Last Name -->
        <div class="form-group mb-3">
          <label for="lastName">Last Name:</label>
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-address-book"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="lastName" name="lastName" placeholder="Last Name" type="text">
          </div>
        </div>

        <!-- Contact -->
        <div class="form-group mb-3">
          <label for="contact">Contact:</label>
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-phone"></i></span>
            </div>
            <input class="form-control" [(ngModel)]="contact" name="contact" placeholder="Contact" type="number">
          </div>
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth:</label>
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
            <input class="form-control datepicker" placeholder="Date of Birth" name="dob" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
              [(ngModel)]="dob">
            <owl-date-time [pickerType]="'both'" #dt1></owl-date-time>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal"
        (click)="updateDetails();">Update</button>
    </div>
  </div>
</ng-template>
