[hidden]{
    display: none !important;
}

.navbar-brand img{
    height:40px
}

.navbar-brand p{
    font-weight: bold;
}

.nav-link-inner--text{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
}

.collapse-brand a{
    font-weight: bold;
    color: black !important;
}

.container{
    z-index: 10;
}

.navbar-transparent{
    position: relative !important;
}

.wave-container{
    width: 100%;
    z-index: 9;
    left:0;
    top:0;
    position: absolute;
}

.wave-container svg{
    height: 125px;
    width: 100%;

}

.inner-nav-ul li a{
  color: #c40000 !important;
}

.inner-nav-ul{
  list-style: none;
  padding:0px;
}


.inner-nav-ul li {
  padding:10px;
}

.dropdown-menu-inner{
  padding:0px;
}

.cdk-overlay-container{
  z-index:1053 !important;
}
