
<main>
  <section class="section">

    <div class="container">
      <div class="card shadow background-gray">
        <div class="payment-header">
          <h1>Add Credits</h1>
        </div>

        <div class="row flex">
          <div class="col-md-3 flex col-10 card payment-card box-shadow shadow">
            <h3>100 Credits</h3>
            <div class="amount">
              <i class="fas fa-rupee-sign"> </i>&nbsp;50
            </div>
            <div class="payment-btn">
              Buy
            </div>
          </div>
          <div class="col-md-3 flex col-10 card payment-card payment-card-prefered box-shadow shadow">
            <h2>1000 Credits</h2>
            <div class="amount">
              <i class="fas fa-rupee-sign"> </i>&nbsp;350
            </div>
            <div class="payment-btn" (click)="buy(350)">
              Buy
            </div>
          </div>
          <div class="col-md-3 flex col-10 card payment-card box-shadow shadow">
            <h3>500 Credits</h3>
            <div class="amount">
              <i class="fas fa-rupee-sign"> </i>&nbsp;200
            </div>
            <div class="payment-btn">
              Buy
            </div>
          </div>

        </div>
      </div>
      </div>

  </section>
</main>
